<!DOCTYPE html>
<html lang="en">
<head>
	<title>Smart Locker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="ISO10646">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<h1 align="center">Smart Locker</h1>

	<ul class="topnav">
		<li><a href="{{ url_for('home') }}">Home</a></li>
		{% if user %}
		{% else %}
			<li><a href="{{ url_for('login') }}">Log in</a></li>
			<li><a href="{{ url_for('register') }}">Create Account</a></li>
		{% endif %}
        {% if user %}
            <li><a href="{{ url_for('items') }}">Register items</a></li>
            <li><a href="{{ url_for('status') }}">Item Status</a></li>
			<li><a class="active" href="{{ url_for('alerts')}}">Handle Alarms</a>a></li>li>
            <li><a href="{{ url_for('update_schedule')}}">Update Schedule</a>a></li>li>
            <li><a href="{{ url_for('check_time_status')}}">Check Status</a>a></li>li>
            <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
            <li><a href="{{ url_for('notifications') }}">Notifications</a></li>
			<li><a href="{{ url_for('logout') }}">Log out</a></li>
		{% endif %}
	</ul>

    {% with flashes = get_flashed_messages() %}
		{% if flashes %}
		  <ul class="flashes">
		  {% for message in flashes %}
			<li>{{ message }}
		  {% endfor %}
		  </ul>
		{% endif %}
  	{% endwith %}

	{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}

    <div class="container">
        <table border="1">
        <tr>
        <td bgcolor="LightGray">
            <h4>All Unchecked Alerts</h4>
                <table>
                {% for item in alertNotHandled %}
                    <tr><td>
                        <b>Alert ID:</b> {{ item.id }}
                        </br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Message: {{ item.message }}
                        </br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time: {{ item.time }}
                        </br>
                        {% for i in items %}
                            {% if i.id == item.itemID %}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item: {{ i.name }}
                            {% endif %}
                        {% endfor %}
                    </td></tr>
                {% endfor %}
                </table>
        </td>
        </tr>
        <tr>
        <td bgcolor="White">
        <h4>All Approved Alerts</h4>
            <table>
                {% for item in alertUserApproved %}
                    <tr><td>
                        <b>Alert ID:</b> {{ item.id }}
                        </br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Message: {{ item.message }}
                        </br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time: {{ item.time }}
                        </br>
                        {% for i in items %}
                            {% if i.id == item.itemID %}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item: {{ i.name }}
                            {% endif %}
                        {% endfor %}
                    </td></tr>
                {% endfor %}
                </table>
        </td>
        </tr>
        <tr>
        <td bgcolor="LightGray">
        <h4>All Concerning Alerts</h4>
            <table>
                {% for item in alertForConcern %}
                    <tr><td>
                        <b>Alert ID:</b> {{ item.id }}
                        </br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Message: {{ item.message }}
                        </br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time: {{ item.time }}
                        </br>
                        {% for i in items %}
                            {% if i.id == item.itemID %}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item: {{ i.name }}
                            {% endif %}
                        {% endfor %}
                    </td></tr>
                {% endfor %}
                </table>
        </td></tr>
        </table>
    </div>

    <div class="container">
        <form class="form" action="" method="post">
            <dt>
                <dt>Alert:
                    <select name="item">
                    {% for item in allAlerts %}
                        <option value={{ item.id }}>Alert: {{ item.id }}</option>
                    {% endfor %}
                    </select>
                </dt>
                <dt> Status
                  <dd>
                    <select name="found">
                        <option value="1">Unchecked</option>
                        <option value="2">User Approved</option>
                        <option value="3">Cause for Concern</option>
                    </select>
                  </dd>
                </dt>
            <div class="actions"><input type="submit" value="Add item"></div>
        </form>
    </div>
</body>
</html>