<!DOCTYPE html>
<html lang="en">
<head>
	<title>Smart Locker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="ISO10646">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<h1 align="center">Smart Locker</h1>

	<ul class="topnav">
		<li><a href="{{ url_for('home') }}">Home</a></li>
		<li><a class="active" href="{{ url_for('classes') }}">Classes</a></li>
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
	</ul>

    {% with flashes = get_flashed_messages() %}
		{% if flashes %}
		  <ul class="flashes">
		  {% for message in flashes %}
			<li>{{ message }}
		  {% endfor %}
		  </ul>
		{% endif %}
  	{% endwith %}

	{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}

    <div class="container">
		Your classes:
		<ul>
		{% for class in classes %}
		<li>{{ class.name }} ({{ class.code }}) : {{ class.startTime }} - {{ class.endTime }}
		{% endfor %}
		</ul>
    </div>
</body>
</html>