<!DOCTYPE html>
<html lang="en">
<head>
	<title>Smart Locker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="ISO10646">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<h1 align="center">Smart Locker</h1>

	<ul class="topnav">
		<li><a href="{{ url_for('home') }}">Home</a></li>
		{% if user %}
		{% else %}
			<li><a href="{{ url_for('login') }}">Log in</a></li>
			<li><a href="{{ url_for('register') }}">Create Account</a></li>
		{% endif %}
        {% if user %}
            <li><a class="active" href="{{ url_for('items') }}">Register items</a></li>
            <li><a href="{{ url_for('status') }}">Item Status</a></li>
			<li><a href="{{ url_for('alerts')}}">Handle Alarms</a></li>
            <li><a href="{{ url_for('update_schedule')}}">Update Schedule</a></li>
            <li><a href="{{ url_for('check_time_status')}}">Check Status</a></li>
			<li><a href="{{ url_for('schedule') }}">Schedule</a></li>
            <li><a href="{{ url_for('notifications') }}">Notifications</a></li>
			<li><a href="{{ url_for('logout') }}">Log out</a></li>
		{% endif %}
	</ul>

    {% with flashes = get_flashed_messages() %}
		{% if flashes %}
		  <ul class="flashes">
		  {% for message in flashes %}
			<li>{{ message }}
		  {% endfor %}
		  </ul>
		{% endif %}
  	{% endwith %}

	{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}

    <div class="container">
        <form class="form" action="" method="post">
            <dl>
              <dt>Item Name:
              <dd><input type="text" name="name" size="30" value="">
              <dt>RFID Number:
              <dd><input type="text" name="rfidNum" size="30">
            </dl>
            <div class="actions"><input type="submit" value="Add item"></div>
        </form>
    </div>

    <div class="container">
		Items:
		<ul>
		{% for item in items %}
		<li>{{ item.name }} : {{ item.tagID }}
            </br>
            {% if item.status == 0 %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status: Not Present
            {% else %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status: Present
            {% endif %}
		{% endfor %}
        </li>
		</ul>
    </div>
</body>
</html>