<!DOCTYPE html>
<html lang="en">
<head>
	<title>Smart Locker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="ISO10646">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<h1 align="center">Smart Locker</h1>

	<ul class="topnav">
		<li><a href="{{ url_for('home') }}">Home</a></li>
		{% if user %}
		{% else %}
			<li><a href="{{ url_for('login') }}">Log in</a></li>
			<li><a href="{{ url_for('register') }}">Create Account</a></li>
		{% endif %}
		{% if user %}
            <li><a href="{{ url_for('items') }}">Register items</a></li>
            <li><a href="{{ url_for('status') }}">Item Status</a></li>
			<li><a href="{{ url_for('alerts')}}">Handle Alarms</a>a></li>li>
            <li><a href="{{ url_for('update_schedule')}}">Update Schedule</a>a></li>li>
            <li><a href="{{ url_for('check_time_status')}}">Check Status</a>a></li>li>
            <li><a class="active" href="{{ url_for('schedule') }}">Schedule</a></li>
            <li><a href="{{ url_for('notifications') }}">Notifications</a></li>
			<li><a href="{{ url_for('logout') }}">Log out</a></li>
		{% endif %}
	</ul>

    {% with flashes = get_flashed_messages() %}
		{% if flashes %}
		  <ul class="flashes">
		  {% for message in flashes %}
			<li>{{ message }}
		  {% endfor %}
		  </ul>
		{% endif %}
  	{% endwith %}

    <div class="container">
		<table id="calendar">
			<tr>
				<td></td>
				<td>Sunday</td>
				<td>Monday</td>
				<td>Tuesday</td>
				<td>Wednesday</td>
				<td>Thursday</td>
				<td>Friday</td>
				<td>Saturday</td>
			</tr>
			<tr>
				<td>7:00</td>
			</tr>
			<tr>
				<td>8:00</td>
			</tr>
			<tr>
				<td>9:00</td>
			</tr>
			<tr>
				<td>10:00</td>
			</tr>
			<tr>
				<td>11:00</td>
			</tr>
			<tr>
				<td>12:00</td>
			</tr>
			<tr>
				<td>1:00</td>
			</tr>
			<tr>
				<td>2:00</td>
			</tr>
			<tr>
				<td>3:00</td>
			</tr>
		</table>
    </div>

	<h2 align="center">Add a class</h2>
	<div class="container">
		<form class="form" action="" method="post">
            <dl>
              <dt>Course Code:
              <dd><input type="text" name="code" size="30">
            </dl>
            <div class="actions"><input type="submit" value="Add Class"></div>
        </form>
	</div>

	<div class="container">
		Your classes:
		<ul>
		{% for class in classes %}
		<li>{{ class.name }} ({{ class.code }}) : {{ class.startTime }} - {{ class.endTime }}
		{% endfor %}
		</ul>
    </div>
</body>
</html>